/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
}
body {
  background: #caccc0;
  margin: 0;
  font-family: "Poppins";
}
header {
  background: #fff;
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: #333;
  text-decoration: none;
}
.mainImage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}
.persPref{
  display: inline-block;
  text-align: center;
  /* justify-content: center;
  align-items: center; */
}
/* personalise button */

.button-13 {
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember",sans-serif;
  font-size: 13px;
  line-height: 29px;
  padding: 0 10px 0 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 100px;
}

.button-13:hover {
  background-color: #f7fafa;
}

.button-13:focus {
  border-color: #008296;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  outline: 0;
}

/* CSS */


.button-55:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.button-55:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

/* homepage */
.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}
.pet-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
.pet-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.pet-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
.pet-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}

/* new workout form */
label, input {
  display: block;
}
input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
form button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}
div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}
input.error {
  border: 1px solid var(--error);
}

/* navbar */
nav {
  display: flex;
  align-items: center;
}
nav a {
  margin-left: 10px;
}
nav button {
  background: #fff;
  color: var(--primary);
  border: 2px solid var(--primary);
  padding: 6px 10px;
  border-radius: 4px;
  font-family: "Poppins";
  cursor: pointer;
  font-size: 1em;
  margin-left: 10px;
}

/* auth forms */
form.signup, form.login {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
}

/* services */
.services{
  display: block;
  text-align: center;
}
.serviceOne{
  display:inline-flex;
  text-align: center;
  margin-top: 20px;
  border: 1px solid rgb(0, 0, 0);
  align-items: center;
  max-width: 80%;
  background-color: rgb(180, 204, 232);
  box-shadow: 0px 8px 29px 2px rgba(0,0,0,0.75);
}
.serviceOne:hover{
  background-color: rgb(165, 189, 192);
}
.serviceOneImage{
  display: inline-block;
  max-width: 25%;
  padding-left: 20px;

}
.serviceOneDescription{
  text-align: justify;
  max-width: 40%; 
  margin-left: 15%;
  margin-right:2%;
}
.serviceTwo{

  display:inline-flex;
  margin-top: 20px;
  border: 1px solid rgb(0, 0, 0);
  align-items: center;
  max-width: 80%;
  background-color: rgb(180, 204, 232);
  box-shadow: 0px 8px 29px 2px rgba(0,0,0,0.75);
}
.serviceTwo:hover{
  background-color: rgb(165, 189, 192);
}

.serviceTwoImage{
  display: inline-block;
  max-width: 25%;
  padding-left: 20px;

}
.serviceTwoDescription{
  text-align: justify;
  max-width: 40%; 
  margin-left: 15%;
  margin-right:2%;
}
.serviceThree{

  display:inline-flex;
  margin-top: 20px;
  border: 1px solid rgb(0, 0, 0);
  align-items: center;
  max-width: 80%;
  background-color: rgb(180, 204, 232);
  box-shadow: 0px 8px 29px 2px rgba(0,0,0,0.75);
}
.serviceThree:hover{
  background-color: rgb(165, 189, 192);
}
.serviceThreeImage{
  display: inline-block;
  max-width: 25%;
  padding-right: 20px;
  margin-left: 15%;
  margin-right:2%;
}
.serviceThreeDescription{
  text-align: justify; 
  max-width: 40%;;
  margin-left:10%;
}

/* people */
.people_wrapper{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 40px;
  margin-top: 20px;
  
}
.card{
  box-shadow: 0px 8px 29px 2px rgba(0,0,0,0.75);
  border: 2px solid rgb(0, 0, 0);
  margin: 5px;
}

.card:hover{
  background-color: rgb(165, 189, 192);
}
.people_image{
  margin-left: 10px;
  margin-right: 10px;
  height: 200px;
  width: 300px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top:5px;
  padding-bottom: 5px;
  align-items: center;
  border-bottom: 1px solid #000;
}

img{
  object-fit: cover;
  /* height: 200px;
  width: 300px; */
}
.people_description{

  margin-left: 10px;
  margin-right: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top:5px;
  padding-bottom: 5px;
  height: auto;
  width: 300px;
}